h1,{
    padding: 200px 40px;
    color: white;
    vertical-align: middle;

}

h2 {
    padding: 100px 20px;
    color: white;
    margin-top: 100px;
    padding-bottom: inherit;
}

p {
    color: gray;
    text-indent: 50px;
}
