ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
} 

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px; 
    text-decoration: none;
    float: right;
}

li a:hover {
    color: blue;
}