$primary-color: red;

.topnav {
    background-color: aqua;
    overflow: hidden;
} 

.topnav a {
    float: left;
    color: brown;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}